.header{
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 115px;
  }
}

.logo{
  text-decoration: none;
  color: #FFFFFF
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60vw;
   &__list{
     padding-left: 70px;
   }
   &__list-item{
     color:#FFFFFF;
   }
}