%title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
// ці стилі треба винести в якийсь 1 файл і може через @use імпортувати,бо писати їх в кожен scss так собі:(

%text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--paragraph-text);
}

.plans {
  &__btn {
    margin-top: 50px;
    text-align: center;
  }

  &__btn_item {
    color: #fff;
    padding: 15px 25px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    background-color: #636060;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(231, 218, 218, 0.2);
  }

  &__description {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  &__description_title {
    @extend %title;
  }

  &__description_text {
    @extend %text;
  }

  //   TABLE

  &__table {
    border: 1px solid #585858;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;

    margin-top: 60px;
  }

  &__table_head {
    background-color: #201f1f;
    text-align: left;
  }

  &__table_body {
    background-color: #050505;
    text-align: left;
  }

  &__table_head_list {
    display: table-row;
  }

  &__table_head_list_title {
    padding: 2vw 1vw;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #262626;
  }

  &__table_head_list_text {
    color: #999999;
    padding: 2vw 1vw;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #262626;
  }
}
