.button-wrapper {
    display: inline-block;
    position: relative;
}

.custom-button {
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    position: relative;
    background: white;
    z-index: 1;
    &:not(.b1) {
        border: none;
    }
}

// Стилі для градієнтного бордера
.b1 {

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: linear-gradient(to left, var(--border-gradient2), var(--border-gradient1));
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--button4-color);
        z-index: -1;
    }

    &:not([disabled]):hover::after {
        background: var(--button4-hover-color);
    }
}

.button-icon {
    margin-right: 8px;
}

// Стилі для радіусів звичайної кнопки
.custom-button:not(.b1) {
    &.r1 {
        border-radius: 8px;
    }
    
    &.r2 {
        border-radius: 12px;
    }
    
    &.r3 {
        border-radius: 30px;
    }
}

// Стилі для радіусів кнопки з градієнтом
.b1 {
    &.r1 {
        &::before {
            border-radius: 10px;
        }
        &.custom-button {
            border-radius: 8px;
        }
        &::after {
            border-radius: 8px;
        }
    }

    &.r2 {
        &::before {
            border-radius: 14px;
        }
        &.custom-button {
            border-radius: 12px;
        }
        &::after {
            border-radius: 12px;
        }
    }

    &.r3 {
        &::before {
            border-radius: 32px;
        }
        &.custom-button {
            border-radius: 30px;
        }
        &::after {
            border-radius: 30px;
        }
    }
}