.innovation {
  background: linear-gradient(#000000 17%, #181818 50%, #010101 89%);

  &__wrapper {
    padding: 0 15px 200px;
    max-width: 1170px;
    margin: 215px auto 0;
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 14px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 70px;
  }

  &__tables {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45px;
  }

  &__tables_first {
    display: flex;
    justify-content: space-between;
    gap: 27px;
  }

  &__tables_second {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}


@media (max-width: 768px) {
  .innovation {
    &__tables_first {
      flex-direction: column;
    }

    &__tables_second {
      flex-direction: column;
    }
  }
}