.subscription{
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  &__type{
    color: #4881E7;
    font-size: 20px;
    line-height: 24px;
  }
  &__info{
    font-size: 20px;
    line-height: 24px;
  }
  &__price{
    font-size: 32px;
    line-height: 39px;
  }
  &__includes{
    font-size: 16px;
    line-height: 19px;
  }
  &__button{
    width:300px;
    height:52px;
    background-color:#447ADB;
    font-size: 16px;
  }
}