.infobox {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 26px 19px;
  border: 1px solid #585858;
  max-width: 473px;
  border-radius: 8px;
  background-color: #0b0b0e;

  &_title {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
  }

  &_text {
    font-weight: 200;
    font-size: 13px;
    line-height: 22px;
    color: var(--paragraph-text);
  }
}
