@import './styles/defaultTheme.scss';

:root{
    --set1color1: #{$oil-black_color};
    --set1color2: #{$charleston-black_color};
    --set1color3: #{$arsenic-grey_color};
    --set1color4: #{$granite-gray_color};
    --set1color5: #{$grey_color};

    
}

