.page {
    background-color: var(--set1color4);
    border: 2px solid rgb(69, 112, 221);
    padding: 20px 10px;
}
  
.main {
    border: 2px solid rgb(69, 221, 183);
    margin: 5px;
}
  
.footer {    
    border: 2px solid rgb(221, 69, 112);
    margin: 5px;
}
  