.type{
  color: #478AF5;
  font-size: 20px;
  font-weight: 600;
  margin-left: 24px;
}

.info{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin-left: 24px;
}

.price{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 600;
  margin-left: 24px;
}

.options{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.button{
  width: 299px;
  height: 52px;
  background-color: #6343E8;
  font-weight: 600;
  font-size: 16px;
  color: #FAFAFA;
  margin-left: 24px;
}