.link {
  padding: 7px 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  border-radius: 8px;
  background-color: var(--gray);
}

.activeLink {
  background-color: var(--primary);
}
