// .footer__content {
//   max-width: 1110px;
//   margin: 0 auto;
//   margin-top: 200px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   &_media {
//     display: flex;
//     gap: 22px;
//   }
// }

.footer {
  padding: 70px 15px 20px;

  &__content {

    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content_media {
    display: flex;
    gap: 22px;
  }
}

@media (max-width: 600px) {
  .footer {
    &__content {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }

}
