%title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.finance {
  margin-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(#000000 17%, #181818 50%, #010101 89%);

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &_title {
    @extend %title;
    text-align: center;
    margin-bottom: 43px;

    span {
      color: var(--primary);
    }
  }

  &_content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &_content_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_copyright {
    font-weight: 400;
    font-size: 14px;
    color: var(--paragraph-text);
  }

  &_btn {
    font-weight: 700;
    color: black;
    font-size: 16px;
    line-height: 22px;

    background-color: white;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
  }

  &_img {
    height: 100%;
    width: 100%;
  }
}
