html,
body {
  height: 100%;
}

:root {
  --primary: #5000ff;
  --gray: #2c2a31;
  --dark-gray: #868686;
  --paragraph-text: #999999;
  --scroll-button: #bebebe;
  --rick-black: #141414;
  --blue: #478af5;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

// стерти потім
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 10px;
}
